@sidebar-width: 125px;
@footer-height: 30px;
@footer-padding: 2px;
@content-padding: 10px;

/** BEGIN APP WIDE **/
body {
  background-color: #DADADA;
  min-height: 275px;
  min-width: 500px;
}

.app {
  height: 100%; // Footer at the bottom
}

.app-content {
  padding-left: @sidebar-width + @content-padding;
  height: 100%;
  padding-top: @content-padding;
  padding-right: @content-padding;
  padding-bottom: calc(@content-padding + @footer-height);
}

/** END APP WIDE **/

/** BEGIN STICKY FOOTER **/

footer {
  width: 100%;
  margin-top: calc(-@footer-height - @footer-padding);
  position: relative;
  background-color: #DADADA;
  padding: @footer-padding;
  padding-left: @sidebar-width;
  text-align: center;
  color: darkgray;
}

/** END STICKY FOOTER **/

/** BEGIN BRANDING **/

.header .company {
  padding: 30px 10px 30px 10px;
  border-radius: 0px 15px 0px 15px;
  margin: 25px 1px 25px 1px;
  background-color: #2277bb;
  color: #e7e7e7;
  font-size: 64px;
  display: inline-block;
  text-transform: lowercase;
}

/** END BRANDING **/

/** BEGIN MENU **/

.vertical.icon.menu.fixed-width-menu {
  width: @sidebar-width;
}

.menu.image {
  display: block;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25rem;
}

/** END MENU **/

/** BEGIN CONTENTS **/

.middle-aligned {
  height: 100%;
}

.container.inside-bounds {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fill {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0px;
}

.fill-remaining {
  flex-grow: 1
}

.margin-before {
  margin-top: 10px;
}

/** END CONTENTS **/