@using Dalion.Ringor.Api.Models
@using Dalion.Ringor.Api.Serialization
@inject IJsonSerializer JsonSerializer;
@{
  var productName = "Ringor";
  var pageTitle = ViewData["Title"];
  var title = string.Join(" - ", new[] {productName, pageTitle}.Where(s => s != null));
  var applicationInfo = ViewData["Dalion-ApplicationInfo"] as ApplicationInfo;
}

<!DOCTYPE html>
<html>
<head>
  <title>@title</title>
  @RenderSection("styles", required: false)
  <environment include="Development">
    <link asp-append-version="true" href="~/css/semantic-ui/semantic.css" rel="stylesheet" />
  </environment>
  <environment exclude="Development">
    <link asp-append-version="true" href="~/css/semantic-ui/semantic.min.css" rel="stylesheet" />
  </environment>
  <script type="text/javascript">
    window.applicationInfo = {
      urlInfo: {
        siteUrl: "@applicationInfo?.UrlInfo?.SiteUrl",
        appUrl: "@applicationInfo?.UrlInfo?.AppUrl"
      },
      version: "@applicationInfo?.Version"
    };
  </script>
</head>
<body>

@RenderBody()

<environment include="Development">
  <script asp-append-version="true" src="~/js/semantic.js"></script>
</environment>
<environment exclude="Development">
  <script asp-append-version="true" src="~/js/semantic.min.js"></script>
</environment>
  
</body>
</html>